/* === Big pill Waybar (Catppuccin Mocha) === */
window#waybar {
    background-color: #1e1e2e; /* Base */
 }

/* === Global font === */
* {
    font-family: "JetBrains Mono";
    font-size: 16px;
    font-weight: bold;
}

/* === Remove module backgrounds/borders (all sit inside the pill) === */
#workspaces,
#window,
#custom-evolution-launcher,
#custom-spotify-launcher,
#cpu,
#memory,
#temperature,
#pulseaudio,
#backlight,
#bluetooth,
#battery,
#network,
#clock,
#custom-notification,
#custom-power,
#tray {
    background: transparent;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    padding: 0 0.9rem;  /* spacing between modules */

    color: #1e1e2e; /* Text */
}

/* === Workspaces inside pill === */

#workspaces {
  background-color: #45475a;
  border-radius: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
}
#workspaces button {
    padding: 0.3rem 0.3rem;   /* fits taller pill */
    background-color: transparent;
    color: #585b70; /* Text */
    border-radius: 12px;      /* subtle rounding for buttons */
}

#workspaces button.active {
    color: #cba6f7; /* Yellow */
}

/* === Status colors === */
#battery.warning {
    color: #f9e2af; /* Yellow */
}

#battery.critical {
    color: #f38ba8; /* Red */
}

#network.disconnected {
    color: #f38ba8; /* Red */
}

#pulseaudio.muted {
    color: #cdd6f4; /* Text */
}

#cpu,
#memory,
#temperature{
  background-color: #f38ba8; /* Surface0 */
}

#temperature {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 1rem;
}

#cpu {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#window {
background-color: #fab387;
border-radius: 20px;
}

#custom-evolution-launcher,
#custom-spotify-launcher{
 background-color: #89b4fa;
}

#custom-evolution-launcher{
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}

#custom-spotify-launcher{
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-right: 1rem;
}

#clock {
  background-color: #f9e2af;
  border-radius: 20px;
  margin-right: 1rem;
}

#network{
  background-color: #94e2d5;
  border-radius: 20px;
  margin-right: 1rem;
}

#tray{
background-color: #313244;
border-radius: 20px;
}

#pulseaudio,
#battery,
#backlight,
#bluetooth{
  background-color: #a6e3a1;
}

#pulseaudio{
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
 margin-left: 1rem;
}

#battery{
 border-top-right-radius: 20px;
 border-bottom-right-radius: 20px;
 margin-right: 1rem;
}

#custom-notification,
#custom-power{
background-color: #f2cdcd;
}

#custom-power{
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-right: 1rem;
}

#custom-notification{
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
margin-left: 1rem;
}
